.nav {
    height: 80px;
    background: rgba(255, 255, 255, 0.5);
    transition: 0.5s ease-in-out all;
}

.nav_hidden {
    composes: nav;
    top: -100px;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav ul > li {
    padding: 1.0rem;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #005370;
    cursor: pointer;
}

.nav ul > li:first-child {
    color: #343435;
}